.my-container {

    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;

    max-width: 600px;
}

.arrow::before {
    content: "";
    position: relative;
    top: 29px;
    left: -40px;
    width: 0;
    height: 0;
    border-left: 21px solid transparent;
    border-right: 21px solid transparent;
    border-top: 40px solid #72a336;
}